:root {
  --background-color-primary: #d1dedd; 
  --border-color: #fff;
  --text-color: #828b8a;
  --title-color: #767f7e;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 20px;
  font-family: "Poppins";
  background-color: var(--background-color-primary);
}
ul, li {
  padding: 0;
  list-style-type: none;
}
.header__title, .featured__title, .article__title {
  color: var(--title-color);
}

.header {
  max-width: 1200px;
  margin: 2.5rem auto;
  border-bottom: 1px solid #bbc7c7;
}

.article__description {
  color: var(--text-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.75rem;
  max-width: 1200px;
  margin: 1.25rem auto;
}

.article__img, .featured__img {

  width: 100%;
  border: 4px solid var(--border-color);
  border-radius: 8px;
}

.article__img {
  height: 14rem;
  object-fit: cover;
}

.featured {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.75rem;
  align-items: center;
  border-bottom: 1px solid #bbc7c7;
  padding-bottom: 2.5rem;
}

/* TABLET */

@media screen and (max-width: 980px) {
  .article {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.75rem;
    align-items: center;
  }
}

/* MOBILE */

@media screen and (max-width: 760px) {
  .article, .featured {
    display: block;
    margin: 0 1.25rem;
  }
}