@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
}

ul, li {
  padding: 0;
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 1.875rem;
}

.header {
  grid-column: span 3;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.nav {
  padding: 1.875rem;
  border-right: 1px solid #ddd;
}

.nav__link {
  color: #000;
}

.article {
  padding: 1.875rem;
}

.article__title {
  font-size: 3.5rem;
  max-width: 800px;
}

.article__img {
  width: 100%;
}

.article__text {
  margin-top: 1.875rem;
  line-height: 2em;
}

.aside {
  padding: 1.875rem;
  border-left: 1px solid #ddd;
}

.footer {
  grid-column: span 3;
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 1.875rem;
}

/* RESPONSIVE */

@media screen and (max-width: 1200px) {
  .nav {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }

  .nav__item {
    display: inline-block;
    margin-right: 0.625rem;
  }

  .article {
    grid-column: span 2;
  }

  .aside {
    padding: 1rem;
  }
}

@media screen and (max-width: 980px) {
  .nav, .article, .aside {
    grid-column: span 3;
  }

  .aside {
    border-left: 0;
    border-top: 1px solid #ddd;
  }

  .article__title {
    font-size: 2.5rem;
  }
}